@using Microsoft.AspNetCore.Components.Web
@namespace BootstrapBlazor.Components
@inherits BootstrapModuleComponentBase
@attribute [JSModuleAutoLoader("./_content/BootstrapBlazor.SvgEditor/Components/SvgEditor/SvgEditor.razor.js", JSObjectReference = true)]

<HeadContent>
    <link rel="stylesheet" href="_content/BootstrapBlazor.SvgEditor/svgedit.bundle.css" />
</HeadContent>

<div class="bb-svg-editor svg-editor" id="@Id"></div>
