@namespace BootstrapBlazor.Components
@using Microsoft.Extensions.Logging
@attribute [JSModuleAutoLoader("./_content/BootstrapBlazor.NodeGraph/js/Graph.js", AutoInvokeDispose = false, JSObjectReference = true)]
@inherits BootstrapModuleComponentBase

@inject ILogger<NodeGraphCanvas> Logger

<div class="@ClassString" @attributes="@AdditionalAttributes" id="@Id">
    <canvas @ref="_graphCanvas"></canvas>
</div>

@code {

    private string? ClassString => CssBuilder.Default("graph-main-container")
        .AddClassFromAttributes(AdditionalAttributes)
        .Build();

    [Parameter]
    public Graph? Graph { get; set; }

    private IJSObjectReference _graphCanvasRef = null!;
    private ElementReference _graphCanvas;


    /// <inheritdoc />
    protected override async Task InvokeInitAsync()
    {
        await InvokeVoidAsync("init", Id);
        var graphRef = await InvokeAsync<IJSObjectReference>("createLGraph");
        Graph = new Graph(graphRef!);
        _graphCanvasRef = await InvokeAsync<IJSObjectReference>("createLGraphCanvas", _graphCanvas, graphRef)
                         ?? throw new InvalidOperationException("Create GraphCanvas failed!");
        // await InvokeVoidAsync("constructGraphNode", "测试节点");
    }

}
