@namespace BootstrapBlazor.Components
@inherits BootstrapModuleComponentBase

<div @attributes="AdditionalAttributes" class="@ClassString" id="@Id">
    <div id="@PreviewId" class="bb-hik-preview" style="width: 500px; height: 300px;"></div>
    <div class="bb-hik-controls">
        <button class="btn btn-primary bb-hik-login">
            <span>登录</span>
        </button>
        <button class="btn btn-primary bb-hik-logout">
            <span>退出</span>
        </button>
        <button class="btn btn-primary bb-hik-start">
            <span>开始预览</span>
        </button>
        <button class="btn btn-primary bb-hik-stop">
            <span>停止预览</span>
        </button>
    </div>
</div> 
