@using Microsoft.AspNetCore.Components.Web
@namespace BootstrapBlazor.Components
@inherits BootstrapModuleComponentBase
@attribute [JSModuleAutoLoader("./_content/BootstrapBlazor.WinBox/WinBox.razor.js", JSObjectReference = true, AutoInvokeInit = false)]

<HeadContent>
    <link rel="stylesheet" href="_content/BootstrapBlazor.WinBox/css/winbox.bundle.css" />
</HeadContent>

<CascadingValue Value="CloseAsync" IsFixed="true">
    @foreach (var (key, option) in _cache)
    {
        <template @key="key" id="@option.Id">
            <CascadingValue Value="option" IsFixed="true">
                <div class="bb-winbox-content">
                    @if (option.BodyTemplate != null)
                    {
                        <div class="bb-winbox-body">
                            @option.BodyTemplate
                        </div>
                    }
                    @option.ContentTemplate
                    @if (option.FooterTemplate != null)
                    {
                        <div class="bb-winbox-footer">
                            @option.FooterTemplate
                        </div>
                    }
                </div>
            </CascadingValue>
        </template>
    }
</CascadingValue>
