@namespace BootstrapBlazor.Components
@inherits BootstrapModuleComponentBase
@attribute [JSModuleAutoLoader("./_content/BootstrapBlazor.ImageCropper/ImageCropper.razor.js")]

<div @attributes="@AdditionalAttributes" class="@ClassString" id="@Id">
    <img src="@Url" class="bb-cropper-image" />
</div>
