@using Microsoft.AspNetCore.Components.Web
@namespace BootstrapBlazor.Components
@inherits BootstrapModuleComponentBase
@attribute [JSModuleAutoLoader("./_content/BootstrapBlazor.Gantt/Components/Gantt.razor.js", JSObjectReference = true)]

<HeadContent>
    <link href="_content/BootstrapBlazor.Gantt/css/gantt.bundle.css" rel="stylesheet" />
</HeadContent>

<div @attributes="@AdditionalAttributes" id="@Id" class="@ClassString">
    <svg></svg>
</div>
