@page "/"
@attribute [TabItemOption(Text = "Counter")]

<Mermaid @ref="mermaid" Direction="Mermaid.MermaidDirection.TB" Type="Mermaid.MermaidType.flowchart" MermaidTitle="Adding GANTT diagram to mermaid">
	A[开始] --> B{条件判断}
	B -- 是 --> C[执行操作1]
	B -- 否 --> D[执行操作2]
	C --> E[结束]
	D --> E
	E --> A
</Mermaid>
<Button @onclick="aaa">拿来把你</Button>
<img src="@b64" alt="Alternate Text" />

@code {
	public string b64 = string.Empty;
	private Mermaid? mermaid { get; set; }
	public async Task aaa(){
		b64 = await mermaid!.ExportBase64MermaidAsync();
	}
}
