@namespace BootstrapBlazor.Components
@inherits BootstrapModuleComponentBase

<div @attributes="@AdditionalAttributes" class="@ClassString" style="@Style" id="@Id">
	@if (DiagramHTML is not null)
	{
		@DiagramHTML
	}
</div>
