@namespace BootstrapBlazor.Components
@inherits BootstrapModuleComponentBase
@attribute [JSModuleAutoLoader("./_content/BootstrapBlazor.Mermaid/Mermaid.razor.js", AutoInvokeDispose = false)]

<div @attributes="@AdditionalAttributes" class="@ClassString" id="@Id"></div>
